.order {
  min-width: 320px;
  padding: 12px 24px;
  background-color: peachpuff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h3 {
  margin: 0;
}

.items {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.reset {
  color: var(--white);
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.reset:hover {
  border-color: var(--yellow);
  background-color: var(--yellow);
}
