.tabs {
  height: auto;
  text-align: center;
  padding: 12px;
  background-color: var(--grey);
}

.tabs a {
  cursor: pointer;
  text-decoration: none;
  color: #1d1d1d;
}

.tab {
  padding: 4px 12px;
}

.tab.active {
  border-bottom: 1px solid var(--black);
}
