.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--black);
  position: relative;
}

.header h2 {
  position: absolute;
  color: var(--white);
  right: 20px;
  top: 0;
}

.header ul li {
  list-style-type: none;
  color: #ffffff;
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
}
