.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: relative;
  flex-grow: 10;
}

.currency {
  background-color: var(--white);
}

.wrapper {
  display: flex;
  align-items: center;
  background: var(--black);
}
